.subrayado {
  background-color: rgba(255, 255, 0, 0.4);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 0, 0.8);
  text-decoration-thickness: 2px;

}

strong {
  display: inline-block;
  width: 120%;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  margin: 0;
}
