body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  padding: 20px;
}

.chat {
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.missatge {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 12px;
  background: #f9fafb;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.capcalera {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.nom {
  font-weight: bold;
  color: #111827;
}

.data {
  font-size: 0.8rem;
  color: #6b7280;
}

.text {
  font-size: 0.9rem;
  color: #374151;
}
.text-align-right {
    text-align: right;
}