
.font-size2 {
    font-size: 20px;
}
.font-size3 {
    font-size: 1.75rem;
}

.font-style2 {
    font-style: italic;
}
.font-style3 {
    font-style: normal;
}
.font-weight9 {

    font-weight: 900; 
}
.font-weight1 {
    font-weight: 100; 
}
.font-weight5 {
    font-weight: 500; 
}
.titulo {
    letter-spacing: 6px;
    font-size: 2.5rem;
    color: grey;
}

.autor {
    word-spacing: 15px;
    font-style: oblique;
}

.capitulo {
    text-transform: uppercase;
    font-weight: 750;
    color: red;
}

.texto {
    text-align: center;
}

.estilo:hover {
    font-style: italic;
    color: blue;
}