.font-size1 {
    font-size: 2.5rem;
}
.font-size2 {
    font-size: 20px;
}
.font-size3 {
    font-size: 1.75rem;
}
.font-style1 {
    font-style: oblique;
}
.font-style2 {
    font-style: italic;
}
.font-style3 {
    font-style: normal;
}
.font-weight9 {

    font-weight: 900; /* Black */
}
.font-weight1 {
    font-weight: 100; /* Thin */
}
.font-weight5 {
    font-weight: 500; /* Medium */
}
.titulo {
    letter-spacing: 6px;
}

.autor {
    word-spacing: 15px;
}

.capitulo {
    text-transform: uppercase;
}

.texto {
    text-align: center;
}
